body{
    width: 1480px;
    height: 1282px;
    margin: 0 auto;
}
.company-name{
    display: inline-block;
    margin-top: 63px;
    margin-left: 98px;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
    color: #000000;
}
.sky-blue{
    color: dodgerblue;
}
.header-menu{
    text-align: center;
    margin: 180px  99px 0 99px;
    background: #35444F;
}
.header-menu-item{
    display: inline-block;
    text-align: center;
    padding-top: 26px;
    padding-right: 30px;
    padding-bottom: 19px;
    padding-left: 30px;
    border-right: 1px solid white;
}
.header-menu-item:first-child{
    margin-left: 162px;
    border-left: 1px solid white;
}
.header-menu-item:last-child{
    margin-right: 133px;
}
.header-menu-item:hover{
    background: #222F3A;;
}
.header-menu-link{
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}
.aside-menu{
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    margin-top:48px;
    margin-left: 99px;
    width: 344px;
    height: 399px;
}
.aside-menu-item{
    padding: 25px 0 25px 42px;
}
.aside-menu-item:hover{
    background: #DBDBDB;
}
.aside-menu-item-link{
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}
.aside-menu-item-link:hover{
    padding-left: 30px;
}
.logo{
    border: 0.1px solid #000000;
    padding: 30px;
    display: inline-block;
    padding: 75px 277px 73px 297px;
    margin: 48px 99px 0px 37px;
}
.logo_icon {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.logo_icon:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.main-text{
    padding-right: 100px;
    padding-left: 486px;
    margin-top: 37px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.footer {
    background: rgba(99, 105, 110, 0.48);
    margin: 54px 99px 30px 99px;
}
.footer-menu{
    background: rgba(99, 105, 110, 0.48);
}
.footer-menu-item{
    display: inline-block;
    padding-top: 20px ;
    padding-bottom: 21px;
}
.footer-menu-item-link{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    padding-left: 40px;
    color: #0C1927;
}
.footer-menu-item-link:hover{
    color:blue;
}
.copyright{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    padding-left: 135px;
}
